.bar {
    box-sizing: border-box;
    position: relative;
    background: rgb(139,195,74);
    color: black;
    height: 64px;
    width: 100%;
    padding: 16px;
}
.wrapper {
    box-sizing: border-box;
    position: absolute;
    right: 16px;
}
.title_wrapper {
    position: absolute;
    width: 90%;
}
#nav-list-container {
    right: 0px;
    top: 32px;
    width: 200px;
    height: 208px;
}
#nav-list {
    width: 200px;
}
.nav-list-item {
    padding: 0;
    margin: 0;
    height: 50px;
}
.irei-button {
    margin: 10px;
    width: 200px;
    height: 40px;
}

.grid{
    display: grid;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navigation-button{
    width: 200px;
    height: 80%;
    padding: 0;
    top:0;
}
.irei-back-button {
    position: fixed;
    right: 0px;
    bottom: 0px;
    text-align: center;
    width: 0px;
}

.test {
    margin-bottom: 200px;
    height:100%;
    width: 100%;
}

.irei-path {
    width: fit-content;
    position: relative;
    padding-left: 10px;
    padding-bottom: o;
    margin: 0;
}

.action-list-grid {
    display: grid;
    grid-template-columns: 0fr 1fr;
}

.delete-button {
    width: 0px;
}

.actionlist-button-grid {
    grid-template-columns: 0fr 0fr;
    display: grid;
}

.icon-button {
    width: 0px;
}

.header {
    margin: 0;
}
