.bar {
    box-sizing: border-box;
    position: relative;
    background: #3F51B5;
    color: white;
    height: 64px;
    width: 100%;
    padding: 16px;
}
.wrapper {
    box-sizing: border-box;
    position: absolute;
    right: 16px;
}
.title_wrapper {
    position: absolute;
    width: 90%;
}
#irei-container {
    right: 0px;
    top: 32px;
    width: 148.3125px;
    height: 208px;
}